@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-950 text-white antialiased;
}

/* Hide scrollbar for horizontal scroll */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Custom range slider */
input[type="range"] {
  @apply appearance-none bg-transparent;
}
input[type="range"]::-webkit-slider-runnable-track {
  @apply h-1 rounded-full bg-zinc-700;
}
input[type="range"]::-webkit-slider-thumb {
  @apply -mt-1 h-3 w-3 appearance-none rounded-full bg-white;
}
